#header {
  color: black;
  text-align: center;
  padding: 2px;
};

#f-form {
 background-color: aquamarine;
 border-radius: 12px;
 position: absolute;
};

#celsius-form {
  position: relative;
  border-radius: 12;
};